ul {
	list-style: none;
	width: 70%;
	background: #673ab7;
	text-align: center;
	margin: 0 auto;
}
li {
	display: inline-block;
	margin-top: 16px;
	margin-bottom: 16px; 
}
a {
	color: white;
	text-decoration: none;

}
a:hover {
	background-color: #9575cd;
}
.dropdow_btn {
	display: inline-block;
}